
body {
	background: #eee;
}

.loading-indicator-wrapper {
	padding-bottom: 30px;
	position: relative;
	text-align: center;

	p {
		position: relative;
		top: 15px;
	}

	.loading-indicator {
		display: block;
		width: 40px;
		height: 40px;
		top: 50%;
		left: 50%;
		margin: 10px auto;
		border: solid 3px;
		border-color: #555555 #f5f5f5;
		border-radius: 1000px;
		-webkit-animation-name: rotate;
		-webkit-animation-duration: 1.5s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		animation-name: rotate;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}

.download {
	text-align: center;
	margin-bottom: 35px;
}

.dlbox {
	background: rgba(79, 151, 202, 0.75);
	text-align: left;
	height: 65px;
	display: inline-block;
	line-height: 1.7em;
	font-size: 26px;
	color: white;
	border-radius: 10px;
	padding-left: 75px;
	min-width: 300px;
	margin: 5px 0;

	span {
		display: block;
		font-size: 15px;
		line-height: 5px;
	}
}

.dlbox:hover {
	color: white;
	box-shadow: 0 0 10px #428cc0;
	text-decoration: none;
}

.dlbox-chrome {
	background: url(../images/chrome.png) no-repeat 8px 6px rgba(79, 151, 202, 0.75);
}

.dlbox-opera {
	background: url(../images/opera.png) no-repeat 8px 6px rgba(79, 151, 202, 0.75);
}

.dlbox-firefox {
	background: url(../images/firefox.png) no-repeat 8px 6px rgba(79, 151, 202, 0.75);
}


// angular-carousel
.rn-carousel-control:before, .rn-carousel-control:after {
	padding: 10px;
	color: white;
	border-radius: 10px;
	background: black;
}

.rn-carousel-indicator {
	background: black !important;
}

a {
	color: #1f90e0;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.container {
	clear: both;
	background: #f5f5f5;
	padding-bottom: 30px;
}
