@import "settings";
// @import "foundation/scss/foundation";

// Or selectively include components
@import
//   "foundation/scss/foundation/components/accordion",
//   "foundation/scss/foundation/components/alert-boxes",
  "foundation/scss/foundation/components/block-grid",
//   "foundation/scss/foundation/components/breadcrumbs",
//   "foundation/scss/foundation/components/button-groups",
//   "foundation/scss/foundation/components/buttons",
//   "foundation/scss/foundation/components/clearing",
//   "foundation/scss/foundation/components/dropdown",
//   "foundation/scss/foundation/components/dropdown-buttons",
//   "foundation/scss/foundation/components/flex-video",
//   "foundation/scss/foundation/components/forms",
  "foundation/scss/foundation/components/grid",
//   "foundation/scss/foundation/components/inline-lists",
//   "foundation/scss/foundation/components/joyride",
//   "foundation/scss/foundation/components/keystrokes",
//   "foundation/scss/foundation/components/labels",
//   "foundation/scss/foundation/components/magellan",
//   "foundation/scss/foundation/components/orbit",
//   "foundation/scss/foundation/components/pagination",
//   "foundation/scss/foundation/components/panels",
//   "foundation/scss/foundation/components/pricing-tables",
//   "foundation/scss/foundation/components/progress-bars",
//   "foundation/scss/foundation/components/reveal",
//   "foundation/scss/foundation/components/side-nav",
//   "foundation/scss/foundation/components/split-buttons",
//   "foundation/scss/foundation/components/sub-nav",
//   "foundation/scss/foundation/components/switch",
//   "foundation/scss/foundation/components/tables",
//   "foundation/scss/foundation/components/tabs",
//   "foundation/scss/foundation/components/thumbs",
//   "foundation/scss/foundation/components/tooltips",
//   "foundation/scss/foundation/components/top-bar",
  "foundation/scss/foundation/components/type",
  // "foundation/scss/foundation/components/offcanvas",
  "foundation/scss/foundation/components/visibility";

body {
	background: #eee;
}

.topstage {
	text-align: center;
	background-color: white;
	background: url('../images/dotted-worldmap.png') white;
	background-size: 960px;
	background-position: center;
	background-repeat: no-repeat;

	height: 400px;
	position: relative;
	display: table;
	box-shadow: inset 0 -5px 20px #8c8c8c;
	border-bottom: 1px black dotted;

	.text {
		vertical-align: middle;
		display: table-cell;
	}
}
.overview {
	hr {
		border: dotted 1px grey;
		width: 90%;
		margin: 0 auto;
	}

	h3 {
		margin: 10px 0;
		text-align: center;
	}
}
.guide {
	.step {
		text-align: center;
	}
}

.features {
	.feature {
		text-align: center;
		margin: 10px 0;
		min-height: 350px;

		.teaser {
			font-weight: bold;
		}
	}
}

header {
	$header-height: 33px;

	padding: 0;
	margin: 0;
	height: $header-height;

	border-bottom: 3px solid lightgrey;

	ul {
		text-align: right;
		li {
			margin: 0;
			display: inline-block;
			a {
				display: block;
				line-height: $header-height;
				padding: 0 10px;
				margin: 0;
				color: black;
			}

		}

		li.current a {
			background: lightgrey;
		}
	}
}

footer {
	color: lightgrey;
	background: grey;
	text-align: center;
}

.packages {

}

.package {
	display: inline-block;
	box-shadow: 0 0 8px #bdbdbd;
	background: rgba(200, 200, 200, 0.5);
	margin: 5px;

	a {
		width: 260px;
		color: black;
		padding: 0px 10px;
		display: table;
		line-height: 60px;

		img {
			display: inline-block;
			min-height: 50px;
			min-width: 50px;
		}

		p {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.package-listing {

}

.package:hover {
	box-shadow: 0 0 10px #428cc0;
}

.packageIcon {
	position: absolute;
	right: 0;
}

.installbutton {
	float: right;
	width: 200px;
	line-height: 35px;
	text-align: center;
	border-radius: 10px;
	background: #B0B0B0;
	color: grey;
}

.installbutton:hover {
	color: white;
}

.pxm-installbutton {
	color: white;
    background: rgba(79,151,202,0.75);

}

.pxm-installbutton:hover {
    box-shadow: 0 0 10px #428cc0;
    color: white;
}

.sidebar {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 0;
			margin: 0;
		}
	}

	.shortinfo {
		font-weight: bold;
		span {
			left: 120px;
			position: absolute;
			font-weight: normal;
		}
	}

	.installbutton {
		width: 100%;
		margin-bottom: 15px;
	}
}

.mobile-infobox {
	border: dotted 1px red;
	padding: 10px;
	background: white;
}