
.packageIcon {
	position: absolute;
	right: 0;
}

.installbutton {
	float: right;
	width: 200px;
	line-height: 35px;
	text-align: center;
	border-radius: 10px;
	background: #B0B0B0;
	color: grey;
}

.installbutton:hover {
	color: white;
}

.pxm-installbutton {
	color: white;
  background: rgba(79,151,202,0.75);
}

.pxm-installbutton:hover {
    box-shadow: 0 0 10px #428cc0;
    color: white;
}

.sidebar {
	img {
		text-align: center;
		margin: 0 auto;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 0;
			margin: 0;
		}
	}

	.shortinfo {
		font-weight: bold;
		span {
			left: 120px;
			position: absolute;
			font-weight: normal;
		}
	}

	.installbutton {
		width: 100%;
		margin-bottom: 15px;
	}
}

.mobile-infobox {
	border: dotted 1px red;
	padding: 10px;
	background: white;
}

br {
	line-height: 40px;
}

.screenshot-wrapper {
	// max-width: 720px;
}

.screenshot {
	width: 100%;
}

.comments {
	$distance: 20px;
	margin-top: $distance;
	padding-top: $distance;
	border-top: solid 1px #ddd;
}

.description-wrapper {
	padding: 10px;
	margin-bottom: 20px;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}

.installPopupWrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  overflow: scroll;
  z-index: 2;

  .installPopup {
    margin-bottom: 15px;
    background: #eee;
    z-index: 3;
    top: 15px;
    border-radius: 12px;
    padding-top: 20px;

    .button {
      line-height: 35px;
      color: white;
     	text-align: center;
      border-radius: 10px;
      background: rgba(79,151,202,0.75);
      margin-bottom: 15px;
    }

    .button:hover {
      box-shadow: 0 0 10px #428cc0;
      color: white;
    }

    .cancelbutton {
      background: #f36c60;
    }
  }

  ul {
    list-style: none;

    li {
      margin-bottom: -5px;
    }
  }
}

