header {
	$header-height: 55px;

	padding: 0;
	height: $header-height;

	border-bottom: 3px solid lightgrey;

	ul {
		margin-left: 0;
		text-align: center;

		li {
			margin: 0;
			display: inline-block;
			a {
				display: block;
				line-height: $header-height;
				padding: 0 10px;
				margin: 0;
				color: black;
			}

		}

		li.current a {
			background: lightgrey;
		}
	}
}

footer {
	text-align: center;

	a {
		color: #1f90e0;
	}
}
