.packages {

}

.package {
	display: inline-block;
	box-shadow: 0 0 8px #bdbdbd;
	background: rgba(200, 200, 200, 0.5);
	margin: 5px 0;
	position: relative;
	padding: 8px 0;

	a {
		color: black;
		padding: 0px 10px;
		display: block;
		line-height: 60px;

		img {
			display: inline-block;
			min-height: 50px;
			min-width: 50px;
		}

		.text-wrapper {
			display: inline-block;
			vertical-align: middle;

			p {
				display: block;
				line-height: 25px;
				vertical-align: middle;
				margin: 0;
			}

			p.works-at {
				display: block;
				font-size: 10px;
				color: grey;

				span {
					color: #1f90e0;
				}
			}
		}

	}

	.ribbon-wrapper {
	  width: 85px;
	  height: 80px;
	  overflow: hidden;
	  position: absolute;
	  top: -3px;
	  right: -3px;
	}

	.ribbon {
	  font: bold 15px Sans-Serif;
	  color: #333;
	  text-align: center;
	  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	  -webkit-transform: rotate(45deg);
	  -moz-transform:    rotate(45deg);
	  -ms-transform:     rotate(45deg);
	  -o-transform:      rotate(45deg);
	  position: relative;
	  padding: 7px 0;
	  left: -9px;
	  top: 10px;
	  width: 140px;
	  color: #6a6340;
	  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);

	}

	.ribbon-green {
		background-color: #BFDC7A;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
		background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
		background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
		background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
		background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);

	}

	.ribbon-green:before, .ribbon-green:after {
	  content: "";
	  border-top:   3px solid #6e8900;
	  border-left:  3px solid transparent;
	  border-right: 3px solid transparent;
	  position:absolute;
	  // bottom: -3px;
	}

	.ribbon-green:before {
	  left: 0;
	}
	.ribbon-green:after {
	  right: 0;
	}
}

.package-listing {

}

.package:hover {
	box-shadow: 0 0 10px #428cc0;
}
