<section class="row about">
  <div class="small-12 columns">
    <h2>About ProxMate</h2>
    <p>Our mission: Making proxies fun and a joy to use!</p>
  </div>

  <div class="small-12 large-9 columns">
    <h3>The idea</h3>
    <ul>
      <li><span class="imagine">Imagine</span> you could set up a proxy, with just a click. And when you don't need it anymore, it's gone.</li>
      <li><span class="imagine">Imagine</span> you are in 10 countries at the same time. Over the same connection.</li>
      <li><span class="imagine">Imagine</span> you can create your own config files and share them with the world.</li>
      <li><span class="imagine">Imagine</span> you use a proxy, without any speed losses.</li>
      <li><span class="imagine">Imagine</span> you start enjoying using proxies.</li>
      <li><span class="imagine">Imagine</span> you can fly.</li>
      <p>...we want to give you all that - as easy as possible!</p>
    </ul>

    <hr class="show-for-small-only">
  </div>

  <div class="show-for-large-up medium-3 columns">
    <img class="globe" src="/images/globe.png" alt="" />
  </div>


  <div class="medium-3 show-for-large-up columns">
    <img class="proxmate-logo" src="/images/proxmate-logo-single.png" alt="" />
  </div>

  <div class="small-12 large-9 columns">
    <h3>The tool</h3>
    <p>
      ProxMate is a proxy package manager designed to be as modular as possible. Each package is a proxy configuration and can be used independently or together with others.
    </p>
    <p>
      Each package can have a different country and each package can do completely different things, all coming together in a central hub right in your browser!
    </p>

    <hr class="show-for-small-only">
  </div>

  <div class="small-12 medium-6 columns">
    <h3>Development</h3>
    <p>ProxMate is currently being maintained and developed by Personalitycores, a super small startup based in Germany. (Seriously, if we tell you how many people work here, you would laugh.)</p>
    <p>Our baby started as a simple unblocker for Youtube but grew bigger than we could have ever expected. We even hit the <strong>500.000</strong> user mark, can you imagine? <strong>A HALF MILLION USERS!</strong></p>
    <p>There are some exciting stories I could tell you. For example how we managed to generate <strong>120TB of traffic</strong> in 1 month! That made our hosters pretty angry, I can tell you!</p>

    <hr class="show-for-small-only">
  </div>

  <div class="small-12 medium-6 columns">
    <h3>Technology</h3>
    <p>ProxMate is put together by a wide range of different technologies. Everything we use is open and available for you to try out yourself!</p>
    <ul>
      <li><strong>Addon</strong>: coffeescript, javascript, angularjs, jasmine, mocha, chai <a target="_blank"  href="https://github.com/dabido/proxmate-chrome">(source)</a></li>
      <li><strong>API server</strong>: javascript, nodejs, mongodb <a target="_blank"  href="https://github.com/dabido/api.proxmate.me">(source)</a></li>
      <li><strong>This website</strong>: angularjs, foundation and... nothing. Just these 2 <a target="_blank"  href="https://github.com/dabido/proxmate.me">(source)</a></li>
      <li><strong>Accelerating and CDN</strong>: Kindly provided by <a target="_blank"  href="http://www.fastly.com/">fastly</a>! They are awesome!</li>
      <li><strong>Static page hosting</strong>: amazon s3</li>
      <li><strong>Proxy software</strong>: Squid3</li>
    </ul>
  </div>

</section>
