<section class="row">
	<div class="small-12 columns">
		<h2>Package Info</h2>
		<div class="show-for-small-only mobile-infobox">
			<p>Hey there! You are viewing the mobile website of this package.</p>
			<p><strong>To install, please come back with a PC.</strong></p>
		</div>
	</div>
	<hr>
	<div class="sidebar show-for-medium-up medium-3 columns">
		<img ng-src="{{ packageData.bigIcon }}" alt="">
		<hr>
		<a href="" class="installbutton" packageid="{{ packageData.id }}">No ProxMate installed</a>
		<hr>
		<h5>About this package</h5>
		<div class="shortinfo">
			<ul>
				<li>Country: <span><img ng-src="{{ packageData.country.flag }}" alt=""></span></li>
				<li>Author: <span><a target="_blank" href="http://twitter.com/{{ packageData.user.twitterHandle }}">{{ packageData.user.twitterHandle }}</a></span></li>
				<li>Version: <span>{{ packageData.version }}</span></li>
			</ul>
		</div>
		<hr>
		<div class="info">
			<h5>Host matches</h5>
			<ul>
				<li ng-repeat="host in packageData.hosts">{{ host }}</li>
			</ul>
		</div>
		<hr>
		<div class="info">
			<h5>Proxy rules</h5>
			<ul>
				<li ng-repeat="domain in packageData.touchedDomains">{{ domain }}</li>
			</ul>
		</div>
	</div>
	<div class="medium-9 columns">
		<a href="" class="show-for-medium-up installbutton" packageid="{{ packageData.id }}">No ProxMate installed</a>
		<h3>{{ packageData.name }}</h3>
		<p class="sub">Website at <a href="{{ packageData.pageUrl }}">{{ packageData.pageUrl }}</a></p>
		<p ng-bind-html="packageData.description|nl2br"></p>
		<div>
			<ul rn-carousel rn-carousel-control="true" rn-carousel-indicator="true" class="image">
				<li ng-repeat="screenshot in packageData.screenshots">
					<img ng-src="{{ screenshot }}" alt="">
					<!-- <div class="layer">{{ screenshot }}</div> -->
				</li>
			</ul>

		</div>
	</div>
</section>
<section class="row">
	<div class="small-12 columns">
		<h4>Tell us what you think!</h4>
		 <dir-disqus disqus-shortname="proxmate-dev"
		        disqus-identifier="detail-{{ packageData.id }}"
		        disqus-title="{{ Page.title }}"
		        ready-to-bind="{{ !Page.isLoading }}">
	 	</dir-disqus>
	</div>
</section>