<section class="topstage small-12 columns">
	<div class="text">
		<img src="images/proxmate-logo-single.png" alt="">
		<h2>ProxMate - Proxy manager on steroids</h2>
		<p>No more messing around with proxy settings. Access what you want, through whatever server you want, when you want.</p>
		<p>Each website is a package, each package is toggleable.</p>
	</div>
</section>

<section class="overview row">
	<h3>Ready to rock? Let's go!</h3>
	<hr>

	<div class="guide small-12 columns">
		<div class="row">
			<div class="small-4 step columns">
				<a href="#">
					<img src="images/index-icons/package2.png" alt="">
					<h4>Install ProxMate for your browser</h4>
				</a>
			</div>
			<div class="small-4 step columns">
				<a href="#">
					<img src="images/index-icons/download.png" alt="">
					<h4>Download some packages</h4>
				</a>
			</div>
			<div class="small-4 step columns">
				<a href="#">
					<img src="images/index-icons/globe.png" alt="">
				<h4>Rock the internet</h4>
					</a>
			</div>
		</div>
	</div>

	<h3>Need more reasons?</h3>
	<hr>
	<div class="features small-12 columns">
		<div class="row">
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/flame.png" alt="">
				<h4>Fastastic</h4>
				<p class="teaser">Enjoy a service faster than any proxy</p>
				<p class="description">ProxMate doesn't care about your regular surfings. And we don't need to know! We touch only the bits we need to touch to give you a blockless experience! Faster than any VPN - hands down.</p>
			</div>
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/jigsaw.png" alt="">
				<h4>Pluggable</h4>
				<p class="teaser">Run it inside your browser</p>
				<p class="description">Don't want to install anything on your computer you don't trust? That's completely fine! We offer well developed browser extensions for Firefox and Chrome. Install it and give it a shot! No need to fiddle with DNS co</p>
			</div>
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/television.png" alt="">
				<h4>TV-Ready</h4>
				<p class="teaser">Use it in your living room!</p>
				<p class="description">Want to stream your favourite shows in your living room? No panic - ProxMate runs on nearly every device available. PS3, Xbox, AppleTV, SmartTV</p>
			</div>
			<hr class="show-for-medium-up">
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/lock.png" alt="">
				<h4>Super secure</h4>
				<p class="teaser">SSL will stay SSL</p>
				<p class="description">No, we won't touch your SSL connection or any bit of it. We don't serve, manipulate or break any tunnel connections with any other server. Everything SSL related will go directly to where you want it to go.</p>
			</div>
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/support.png" alt="">
				<h4>Support guaranteed</h4>
				<p class="teaser">Our support bees will help you!</p>
				<p class="description">Stuck? Don't know what to do? Something is not working? Pssshhh, don't say it too loud. Our support bees are wild animals, hunting every support request down.</p>
			</div>
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/heart.png" alt="">
				<h4>Love included</h4>
				<p class="teaser">Can you guess our secret to success?</p>
				<p class="description">Every product we serve is injected and will be shipped with high quality love. Our products are our babies. We care as they would be our childs. Treat them with respect :)</p>
			</div>
		</div>
	</div>
</section>