<section class="topstage small-12 columns">
	<div class="text">
		<img src="images/proxmate-logo-single.png" alt="">
		<h2>ProxMate - Proxy manager on steroids</h2>
		<p>No more messing around with proxy settings. Access what you want, through whatever server you want, when you want.</p>
		<p>Each website is a package, each package is optional.</p>
	</div>
</section>

<section class="overview row">
<!-- 	<h3>Ready to rock? Let's go!</h3>
	<hr>
 -->
<!-- 	<div class="guide small-12 columns">
		<div class="row">
			<div class="small-4 step columns">
				<a href="#">
					<img src="images/index-icons/package2.png" alt="">
					<h4>Install ProxMate for your browser</h4>
				</a>
			</div>
			<div class="small-4 step columns">
				<a href="#!/packages">
					<img src="images/index-icons/download.png" alt="">
					<h4>Download some packages</h4>
				</a>
			</div>
			<div class="small-4 step columns">
				<a href="#">
					<img src="images/index-icons/globe.png" alt="">
				<h4>Rock the internet</h4>
					</a>
			</div>
		</div>
	</div> -->
	<div class="download">
		<h2>Download now!</h2>
		<a href="http://bit.ly/proxmate-beta-chrome" class="dlbox small-12 medium-4 dlbox-chrome">
			Download
			<span>for Google Chrome</span>
		</a>

		<a href="http://bit.ly/proxmate-beta-opera" class="dlbox small-12 medium-4 dlbox-opera">
			Download
			<span>for Opera Next</span>
		</a>

		<p>...and make sure to check out our packages over <a href="/packages/">here</a> :)</p>
	</div>

	<h3>Why pick ProxMate?</h3>
	<hr>
	<div class="features small-12 columns">
		<div class="row">
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/flame.png" alt="">
				<h4>Fastastic</h4>
				<p class="teaser">Enjoy a service faster than any proxy</p>
				<p class="description">ProxMate doesn't care about your regular surfings. And we don't need to! We touch only the bits we have to touch to give you a blockless experience! Faster than any VPN - hands down.</p>
			</div>
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/jigsaw.png" alt="">
				<h4>Pluggable</h4>
				<p class="teaser">Run what you need, not more!</p>
				<p class="description">Don't want to install stuff you don't need? Bloated proxy rules you don't know what they are doing? Worry not! ProxMate allows you to pick exactly what you need, fully transparent! No hidden stuff!</p>
			</div>
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/lock.png" alt="">
				<h4>Super secure</h4>
				<p class="teaser">SSL will stay SSL</p>
				<p class="description">No, we won't touch your SSL connection or any bit of it. We don't serve, manipulate or break any tunnel connections with any other server. Everything you surf will go where you want it to go.</p>
			</div>
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/octocat.png" alt="">
				<h4>Open Source</h4>
				<p class="teaser">No secrets!</p>
				<p class="description">"These pesky extensions! You never know what they are actually doing!" - says no ProxMate user ever. ProxMate is being developed open source, showing you all the stuff under the hood. </p>
			</div>
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/support.png" alt="">
				<h4>Support guaranteed</h4>
				<p class="teaser">Our support bees will help you!</p>
				<p class="description">Stuck? Don't know what to do? Something is not working? Pssshhh, don't say it too loud. Our support bees are wild animals, hunting every support request down.</p>
			</div>
			<div class="small-6 medium-4 columns feature">
				<img src="images/index-icons/heart.png" alt="">
				<h4>Love included</h4>
				<p class="teaser">Can you guess our secret to success?</p>
				<p class="description">ProxMate is built and injected with high quality love. No, not the stuff you find on the streets, no! Our love is happy and full of joy, bringing you a awesome product!</p>
			</div>
		</div>
	</div>
</section>
